:root {
  --primary: #d47100;
  

  --secondary: #47ce08;

}



.Board{
    margin:0 auto;
    /* box-shadow: 0px 0px 40px 8px #d156ba; */
}
.Board-title{
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: var(--title-size);
    height: var(--title-height);
  }
.winner{
    padding: 10rem;
}
.winner .neon-blue,
.winner .neon-orange {
  font-size: var(--title-size);
}

@font-face {
  font-family: neon;
  src: url(../fonts/Fighting\ Spirit\ 2.otf);
}

.container {
  display: table-cell;
  text-align: center;
  vertical-align: middle;
}

.caption {
  z-index: -5;
  opacity: .8;
  display: flex;
  align-items: center;
  justify-content: center;

  font-style: normal;
  font-family: bang;
  color: var(--text-color);

  font-size: var(--captionSize);
  padding-bottom: var(--offset-size);
}

.caption b {
  font-weight:normal;

  letter-spacing: calc(var(--captionSize) / 4);
  animation: neon-text 2s linear infinite;
  -moz-animation: neon-text 2s linear infinite;
  -webkit-animation: neon-text 2s linear infinite;
  -o-animation: neon-text 2s linear infinite;
}

.neon-orange {
  font-family: neon;
  color: var(--primary);
  line-height: 9vw;
  text-shadow: 0 0 3vw var(--primary);
  animation: neon-orange 1s ease infinite;
  -moz-animation: neon-orange 1s ease infinite;
  -webkit-animation: neon-orange 1s ease infinite;
}

.neon-blue {
  font-family: neon;
  color: var(--secondary);
  line-height: 9vw;
  text-shadow: 0 0 3vw var(--secondary);
  animation: neon-blue 2s linear infinite;
  -moz-animation: neon-blue 2s linear infinite;
  -webkit-animation: neon-blue 2s linear infinite;
  -o-animation: neon-blue 2s linear infinite;
}


@keyframes neon-orange {
  0%,
  100% {
    text-shadow: 0 0 1vw #FA1C16, 0 0 3vw #FA1C16, 0 0 10vw #FA1C16, 0 0 10vw #FA1C16, 0 0 .4vw #FED128, .5vw .5vw .1vw #806914;
    color: #FED128;
  }
  50% {
    text-shadow: 0 0 .5vw #800E0B, 0 0 1.5vw #800E0B, 0 0 5vw #800E0B, 0 0 5vw #800E0B, 0 0 .2vw #800E0B, .5vw .5vw .1vw #40340A;
    color: #806914;
  }
}

@keyframes neon-blue {
  0%,
  100% {
    text-shadow: 0 0 1vw #1041FF, 0 0 3vw #1041FF, 0 0 10vw #1041FF, 0 0 10vw #1041FF, 0 0 .4vw #8BFDFE, .5vw .5vw .1vw #147280;
    color: #28D7FE;
  }
  50% {
    text-shadow: 0 0 .5vw #082180, 0 0 1.5vw #082180, 0 0 5vw #082180, 0 0 5vw #082180, 0 0 .2vw #082180, .5vw .5vw .1vw #0A3940;
    color: #146C80;
  }
}

.Question-container {
  /* padding: var(--offset-size); */
  padding: 2vw;

  background-color: var(--cell-background);
  color: var(--text-color);
  font-size: var(--questionSize);
font-family: 'Segoe UI';
  border-radius: 25px;
  width: fit-content;
  align-items: center;
  margin: var(--offset-size) auto;
}

.Question-title {
  text-align-last: left;
  
}
